.authentication-container {
  display: flex;
  justify-content: space-between; // Add space between the forms
  align-items: flex-start; // Align forms at the top
  width: 900px;
  margin: 30px auto;

  @media screen and (max-width: 500px) {
    flex-direction: column; // Change to column for mobile devices
    align-items: center; // Center items horizontally
    width: 100%; // Take full width on mobile
    padding: 0 20px; // Add some horizontal padding for better spacing
  }
}