.category-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 40px;
  
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr); // Display two items per row on mobile
    }
  }
  
  .category-title {
    font-size: 38px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
  }
  